PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"
export http_proxy="172.17.11.2:443"
export https_proxy="172.17.11.2:443"
export no_proxy="localhost,127.0.0.1,172.17.17.18"
